@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 20px;
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

:root:not(.dark) {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
